<div class="panel panel-default">
  <div class="panel-heading">Enter a New Contact</div>
    <div class="panel-body">
      <form>
        <div class="form-group" ng-repeat="inputItem in entryItems">
          <div class="col-xs-{{inputItem.inputWidth}}">
          <!-- The ng-class checks to see if the length of the input field is nothing (or something) and assigns the appropriate BS class -->
            <input class="form-control" type="{{inputItem.inputType}}" placeholder="{{inputItem.inputPlaceholder}}" ng-model="newAddressObject[inputItem.fieldVariable]" ng-class="!newAddressObject[inputItem.fieldVariable].length ? 'alert-danger' : 'alert-success'" />
          </div>
        </div>
        <button class="btn btn-default" ng-click="addNewAddress()">Submit</button>
      </form>
    </div>
  </div>
</div>
